body {
    background-color: aquamarine;
}


body {
    font-family: sans-serif;
  }
  
  input {
    width: 100%;
    padding: 10px;
    border: 1px solid black;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    padding: 10px;
    border-bottom: 1px solid black;
  }
  